body{
    display: flex;
    justify-content: center;
}
table {
    width: 280px;
    height: auto;
    border: 1px solid #bbb;
    margin-top: 200px;
}
th{
    background-color: #bbb;
}
tbody tr:nth-child(odd){
    background-color: #6aa;
    color: #fff;
}
tbody tr:nth-child(even){
    background-color: #ddd;
}
tbody tr:hover{
    background-color: #377;
    color: #fff;
}
